.navbar-right li a {
    text-align: right;
}

tr {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}


@media (max-width: 768px) {
    .btnS {
      font-size:8px;
      padding:4px 6px;
    }
  }
  
@media (min-width: 768px) {
    .btnS {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
 @media (min-width: 992px) {
    .btnS {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
@media (min-width: 1200px) {
    .btnS {
      padding:10px 16px;
      font-size:18px;
    }
 }

 #slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#percenttasks{
  display: flex;
  justify-content: space-between;
}