                <form id="loginForm" class="omb_loginForm" autocomplete="off">
                    <div>
                        <h2>Log In</h2><br>
                    </div>
                    <div class="insing-up">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control"  name="username" placeholder="email address">
                    </div>
                    <span class="help-block"></span>

                    <div class="insing-up">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <span   class="help-block"></span><br>
                    <span id="loginAlert" style="visibility:hidden" class="help-block">User or password error. Bad Credentials!</span>                        
                    <button id="save" type="submit">Login</button><br>
                </form>